@model Bank2.Models.SharedData
@{
  ViewData["Title"] = "Account Management";
}
<head>
  <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>
<body class="dashboardContentBody">
  <header class="baseSection">
    <h1 class="removeMargin dashboardMainHeading">Account Management</h1>
  </header>
  <section class="baseSection">
    <div>
      <div>
        @if(Model.Account.Count < 3){
          <h2 class="">Accounts Owned : @Model.Account?.Count</h2>
        }else{
        <h2>Accounts Owned : @Model.Account?.Count (Max Limit Reached)</h2>
        }
      </div>

      <table>
        <thead>
          <tr>
            <th>A/C No</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Status</th>
            <th>Creation Date</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          @foreach (var accounts in Model.Account)
          {
          <tr>
            <td>@accounts.AccountNo</td>
            <td>@accounts.AccountType</td>
            <td>₹ @accounts.AccountBalance.ToString("F2")</td>
            <td>@accounts.AccountStatus</td>
            <td>@accounts.CreatedAt</td>
            <td>
              <a asp-action="DeleteAccount" style="color:red; text-decoration: none;" asp-route-id="@accounts.Id">Delete</a>
            </td>
          </tr>
          }
        </tbody>
      </table>
        </div>
    </section>

  <section class="baseSection">
    <h2 class="">Create New Account</h2>
    <form class="accountManagement" asp-controller="Account" asp-action="NewAccount" method="post">
      <div class="bigSection">
        <h3>User Information</h3>
        <div class="smallSection">
          <p class="sectionContent">Full Name : @Model.User?.FullName</p>
          <p class="sectionContent">Email : @Model.User?.Email</p>
          <p class="sectionContent">Phone : @Model.User?.Phone</p>
          <p class="sectionContent">Address : @Model.User?.Address</p>
          <p class="sectionContent">Branch Name : @Model.User?.Branch?.Name</p>
          <p class="sectionContent">Branch Code : @Model.User?.Branch?.IFSCCode</p>
        </div>
      </div>

      <div class="smallSection">
        <label class="sectionContent">Select Account Type</label>
        <select class="selectFieldDropdown" asp-for="accountType">
          <option value="Savings">Personal (Savings)</option>
          <option value="Current">Current</option>
          <option value="Business">Business</option>
          <option value="Merchant">Merchant</option>
        </select>
      </div>
      <div class="smallSection">
        <label class="sectionContent">Amount</label>
        <input class="textInput" type="number" asp-for="amount" />
      </div>
      <button class="buttonSquare" type="submit">Create Account</button>
    </form>
  </section>
</body>

