@model Bank2.Models.SharedData
@{
    ViewData["Title"] = "Account Management";
}
<head>
    <link rel="stylesheet" href="~/css/Dashboard.css" />
    <link rel="stylesheet" href="~/css/LoginPage.css" />
</head>
<body class="dashboardBody">
    <section>
        <h1 class="">Account Management</h1>
        <hr />
        <div>
            <p>Accounts Owned : @Model.Account?.Count</p>
            <p>All Account are linked to user</p>
            <table>
                <thead>
                    <tr>
                        <th>A/C No</th>
                        <th>Type</th>
                        <th>Balance</th>
                        <th>Status</th>
                        <th>Creation Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var accounts in Model.Account)
                    {
                    <tr>
                        <td>@accounts.AccountNo</td>
                        <td>@accounts.AccountType</td>
                        <td>@accounts.AccountBalance</td>
                        <td>@accounts.AccountStatus</td>
                        <td>@accounts.CreatedAt</td>
                        <td>
                            <a asp-action="DeleteAccount" asp-route-id="@accounts.Id">Delete</a>
                        </td>
                    </tr>
                    }   
                </tbody>
            </table>
        </div>
        
    </section>
    <section>
        <h2>Create New Account</h2>
        <form asp-controller="Account" asp-action="NewAccount" method="post">
            <p>Open a new account with our one click account open</p>
            <p>Just Select Type and Press Create Account</p>
            <p>This will create a account with 0 Balance</p>
            <select asp-for="accountType">
                <option value="Savings">Savings</option>
                <option value="Current">Current</option>
                <option value="Business">Business</option>
            </select>
            <label>Add Money In Account</label>
            <input type="number" asp-for="amount" />
            <button type="submit">Create Account</button>
        </form>
    </section>
   
</body>

