@model Bank2.Models.User
@{
    var Username = Context.Session.GetString("Username");
    var UserId = Context.Session.GetString("UserId");
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/Dashboard.css"/>
</head>
<body class="dashboardBody">
    <section class="baseSection">
        <h1>Hello @Username</h1>
        <div class="twoColumn">
            <div class="bankCard"><h1>Section 1</h1></div>
            <div class="bankCard"><h1>Section 2</h1></div>
        </div>
        <div>
            <h1 class="bankCard">Rest of Data</h1>
        </div>

    </section>

    <section class="baseSection">
        
            @foreach (var account in Model.Accounts)
            {
            <table>
                <thead>
                    <tr>
                        <th>DateTime</th>
                        <th>AccountNo</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Balance</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var tran in account.Transactions)
                {
                <tr>
                    <td>@tran.Date</td>
                    <td>@tran.AccountNumber</td>
                    @if (tran.Type == "Debit")
                    {
                        <td style="color:forestgreen">@tran.Type</td>
                        <td style="color:forestgreen">@tran.Amount</td>
                    }
                    else
                    {
                        <td style="color:red">@tran.Type</td>
                        <td style="color:red">@tran.Amount</td>
                    }
                    <td>@tran.Balance</td>
                    <td>@tran.Description</td>
                </tr>
                }
                </tbody>
            </table>
            }
           
    </section> 
</body>
</html>