@model Bank2.Models.SharedData
@{
  var Username = Context.Session.GetString("Username");
  var UserId = Context.Session.GetString("UserId");
  ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" href="~/css/Dashboard.css"/>
</head>
<body class="dashboardBody">
  <section class="twoColumn">
    <section class="baseSection">
      <h2 class="heading">Primary payments A/C</h2>
      <div class="bankCard">
        <p>@Model.Account[0].AccountNo</p>
        <h2>@Model.Account[0].AccountBalance Rs</h2>
        <p>@Model.User.Username</p>
      </div>
      <div>
      <select id="selectedAccount" asp-items="ViewBag.Accounts"></select>
      </div>
    </section>

    <section class="baseSection">
      <h2 class="heading">Recent Transaction</h2>
      <table>
        <thead>
          <tr>
            <th>AccountNo</th>
            <th>Type</th>
            <th>Amount</th>
            <th>DateTime</th>
          </tr>
        </thead>
        <tbody>
           @if (Model.Transactions.Count == 0)
           { 
             <tr> 
               <td colspan="4" style="text-align: center;"> 
                 -------------------- No Entries -------------------- 
               </td> 
             </tr>
           } 
           @foreach (var tran in Model.Transactions.Take(5)) 
           { 
             <tr> 
               <td>@tran.AccountNumber</td> 
               @if (tran.Type == "Debit") 
               { 
                 <td style="color:forestgreen">@tran.Type</td> 
                 <td style="color:forestgreen">@tran.Amount</td> 
               } 
               else 
               { 
                 <td style="color:red">@tran.Type</td> 
                 <td style="color:red">@tran.Amount</td> 
               } 
               <td>@tran.Date</td> 
             </tr> 
           }
        </tbody>
      </table>
    </section>
  </section>
  <section class="baseSection">
    <h2 class="removeMargin">Quick Access</h2>
    <div>

    </div>
  </section>
  <section class="baseSection">
    <h2 class="removeMargin">Recommended</h2>
  </section>
  
</body>
</html>