@model Bank2.Models.SharedData
@{
  var Username = Context.Session.GetString("Username");
  var UserId = Context.Session.GetString("UserId");
  ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" href="~/css/Dashboard.css"/>
</head>
<body class="dashboardContentBody">
  <section class="twoColumn">
    <section class="baseSection">
      <h2 class="dashboardSectionHeading">Primary payments A/C</h2>
      <select class="selectFieldDropdown" id="selectedAccount" asp-items="ViewBag.Accounts"></select>
      <div class="bankCard">
        <div class="bankCardContents">
          <p>@Model.User.Branch.Name Branch</p>
          <p class="bankCardBalance">@Model.Account[0].AccountNo</p>
        </div>
        <h2>@Model.Account[0].AccountBalance Rs</h2>
        <div class="bankCardContents">
          <p>@Model.User.Username</p>
          <p>@Model.User.Username</p>
        </div>
      </div>
    </section>

    <section class="baseSection">
      <h2 class="dashboardSectionHeading">Recent Transaction</h2>
      <table>
        <thead>
          <tr>
            <th>AccountNo</th>
            <th>Type</th>
            <th>Amount</th>
            <th>DateTime</th>
          </tr>
        </thead>
        <tbody>
           @if (Model.Transactions.Count == 0)
           { 
             <tr> 
               <td colspan="4" style="text-align: center;"> 
                 -------------------- No Entries -------------------- 
               </td> 
             </tr>
           } 
           @foreach (var tran in Model.Transactions.Take(5)) 
           { 
             <tr> 
               <td>@tran.AccountNumber</td> 
               @if (tran.Type == "Debit") 
               { 
                 <td style="color:forestgreen">@tran.Type</td> 
                 <td style="color:forestgreen">@tran.Amount</td> 
               } 
               else 
               { 
                 <td style="color:red">@tran.Type</td> 
                 <td style="color:red">@tran.Amount</td> 
               } 
               <td>@tran.Date</td> 
             </tr> 
           }
        </tbody>
      </table>
    </section>
  </section>
  <section class="baseSection">
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Quick Access</legend>
        <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
          <img class="paymentItemLogo" src="~/ico/phone-list.png" alt="itemImage" />
          <h3 class="paymentItemName">Pay Contact</h3>
        </a>
        <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
          <img class="paymentItemLogo" src="~/ico/donation.png" alt="itemImage" />
          <h3 class="paymentItemName">Pay Phone Number</h3>
        </a>
        <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
          <img class="paymentItemLogo" src="~/ico/mobile-recharge.png" alt="itemImage" />
          <h3 class="paymentItemName">Mobile Recharge</h3>
        </a>
        <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
          <img class="paymentItemLogo" src="~/ico/mobile-postpaid.png" alt="itemImage" />
          <h3 class="paymentItemName">Mobile Postpaid</h3>
        </a>
    </fieldset>
  </section>
  <section class="baseSection">
    <h2 class="removeMargin">Recommended</h2>
  </section>
  
</body>
</html>