@model Bank2.Models.User
@{
    ViewData["Title"] = "Delete Account";
}
<head>
    <link rel="stylesheet" href="~/css/LoginPage.css" asp-append-version="true" />

</head>
<body>
    <div class="deleteAccount">
        <p class="span">Are you sure you want to delete this user?.</p>
        <div class="deleteItem">
            <p>Username</p>
            <p class="deleteId">@Model.Username</p>
        </div>
         <div class="deleteItem">
            <p>User Id</p>
            <p class="deleteId">@Model.Id</p>
        </div>
         <div class="deleteItem">
            <p>Full Name</p>
            <p class="deleteId">@Model.FullName</p>
        </div>
        <div class="deleteItem">
            <p>Email</p>
            <p class="deleteId">@Model.Email</p>
        </div>
        <div class="deleteItem">
            <p>Branch Name</p>
            <p class="deleteId">@Model.Branch?.Name</p>
        </div>
        <div class="deleteItem">
            <p>IFSC Code</p>
            <p class="deleteId">@Model.Branch?.IFSCCode</p>
        </div>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="submit" class="deleteBtn" value="Delete" />
        </form>
        <form asp-action="Transactions" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="submit" class="cancelBtn" value="Cancel" />
        </form>
    </div>
</body>
