@model Bank2.Models.SharedData
@{
  ViewData["Title"] = "Transaction";
}
<head>
  <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>

<body class="dashboardContentBody">
  <header class="baseSection">
    <h1 class="removeMargin dashboardMainHeading">Transaction</h1>
  </header>
  <section class="baseSection">
    <h2 class="removeMargin">All Transactions</h2>
    <table>
      <thead>
        <tr>
          <th>A/C No</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var tran in Model.Transactions)
        {
          if (tran != null && Model.Transactions.Count > 0)
          {
            <tr>
              <td>@tran.AccountNumber</td>
              <td style="color:@(tran.Type == "Debit" ? "forestgreen" : "red")">@tran.Type</td>
              <td style="color:@(tran.Type == "Debit" ? "forestgreen" : "red")">@tran.Amount</td>
              <td>@tran.Date</td>
              <td>@tran.Description</td>
            </tr>
          }
        }
      </tbody>
    </table>

  </section>
</body>
